// Главный файл, где пишутся и куда подключаются все стили проекта

// Адаптивное свойство - используется, если дизайнером предоставлен неполный макет,
// чтобы при уменьшении или увеличении экрана паддинги, размеры шрифта автоматически
// увеличивались / уменьшались в границах от десктопного значения до телефонного
// Подробнее: https://www.youtube.com/watch?v=eaOAY0vIB4U
$maxWidth: 1920; // Для масштабирования, например, текста, если экран будет увеличиваться и станет больше контейнера
$maxWidthContainer: 1200; // Для масштабирования, например, текста, если экран будет уменьшаться и станет меньше контейнера

// Импорт дополнительных файлов стилей и настроек
@import "variables";
@import "../../node_modules/normalize.css/normalize";
@import "start";
@import "mixins/font-face";
@import "mixins/adaptive-value";
@import "fonts";
@import "global";

// Основные свойства
html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}

.wow {
  visibility: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

ol {
  margin: 0;
  padding: 0;
}

// Основная часть
* {
  outline: 0px solid rgba(251, 150, 255, 0.25);
  transition: outline 0.1s;
  &:focus {
    outline: 5px solid rgba(251, 150, 255, 0.25);
  }
}
.header {
  background: url("../images/global/black-bg.jpg") center/cover no-repeat fixed;
  position: relative;
  transition: background-position 0.8s;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
  &::before {
    width: 472px;
    height: 513px;
    background: url("../images/header/leave-1.png") center/contain no-repeat;
    bottom: -220px;
    left: -110px;
    z-index: 2;
  }
  &::after {
    width: 280px;
    height: 260px;
    background: url("../images/header/leave-2.png") center/contain no-repeat;
    bottom: 200px;
    right: -100px;
    z-index: 2;
  }
  &__inner {
    @include adaptive-value("padding-top", 134, 54, 1);
    padding-bottom: 350px;
    position: relative;
    overflow: hidden;
  }
  &__title-wrapper {
    &:hover ~ .woman {
      filter: drop-shadow(2px 0px 20px rgba(#fff, 0.4));
    }
  }
  &__title-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__title {
  }
  &__text {
    font-weight: 300;
    font-size: 20px;
    @include adaptive-value("font-size", 20, 14, 1);
    line-height: 130%;
    color: #fff;
    flex: 0 1 380px;
    position: relative;
    z-index: 4;
    position: relative;
  }
  &__title-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__bottom-link {
  }
  &__insta-block {
    background: #fff;
    border-radius: 10px;
    padding: 10px 10px 10px 163px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    z-index: 4;
  }
}

.main-title {
  font-family: "Dela Gothic One";
  @include adaptive-value("font-size", 157, 62, 1);
  line-height: 1;
  background: linear-gradient(93.75deg, #ffffff -2.53%, #efefef 79.58%, #ffffff 102.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: transform 0.6s;
  &--bottom {
    transform-origin: left;
    position: relative;
    z-index: 1;
  }
  &--top {
    transform-origin: right;
    position: relative;
    z-index: 3;
  }
}

.insta {
  &:hover {
    .insta__count {
      letter-spacing: 2px;
    }
  }
  &__count {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #513939;
    transition: letter-spacing 0.3s;
  }
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    padding-left: 42px;
    padding-right: 17px;
    display: flex;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    background: url("../images/header/insta-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      width: 24px;
      height: 24px;
      background: url("../images/header/insta.svg") center/contain no-repeat;
    }
  }
}

.woman {
  user-select: none;
  pointer-events: none;
  position: absolute;
  bottom: -410px;
  left: 51%;
  z-index: 2;
  transform: translateX(-50%);
  @include adaptive-value("width", 835, 380, 1);
  transition: filter 0.4s;
  &__img {
    width: 100%;
  }
}

.about {
  padding: 130px 0 0;
  @include adaptive-value("padding-bottom", 185, 125, 1);
  background: url("../images/global/main-bg.jpg") center/cover no-repeat fixed;
  position: relative;
  transition: background-position 0.8s;
  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 260px;
    background: url("../images/header/leave-2.png") center/contain no-repeat;
    bottom: 0;
    transform: translateY(45%) rotate(-65deg);
    right: -100px;
    z-index: 2;
    display: none;
  }
  &__inner {
  }
  &__title {
  }
  &__text-wrapper {
    max-width: 580px;
    margin: 25px auto 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
  }
  &__par {
    @include adaptive-value("font-size", 20, 16, 1);
    span {
      color: #ff7697;
      font-weight: 800;
      transition: color 0.2s;
      &:hover {
        color: darken(#ff7697, 10%);
      }
    }
  }
  &__par + &__par {
    margin-top: 15px;
  }
}

.who {
  position: relative;
  background: url("../images/global/black-bg.jpg") center/cover no-repeat fixed;
  transition: background-position 0.8s;
  @include adaptive-value("padding-top", 100, 70, 1);
  @include adaptive-value("padding-bottom", 145, 130, 1);
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
  &::before {
    left: 0;
    bottom: 0;
    transform: translateY(50%) translateX(-40%);
    width: 585px;
    height: 551px;
    background: url("../images/who/leave.png") center/contain no-repeat;
    z-index: 2;
  }
  &::after {
    right: 0;
    bottom: 0;
    transform: translateY(50%) translateX(35%);
    width: 498px;
    height: 578px;
    background: url("../images/who/bolt.png") center/contain no-repeat;
    z-index: 2;
  }
  &__inner {
    position: relative;
  }
  &__title {
    @include adaptive-value("margin-bottom", 67, 45, 1);
  }
  &__list {
  }
  &__link-wrapper {
  }
  &__link {
  }
}
.swiper-who {
  color: #fff;
  &__wrapper {
    margin-bottom: 70px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:hover {
      .swiper-who__text {
        background-color: rgba(#fff, 0.1);
      }
      .swiper-who__title {
        letter-spacing: 1px;
      }
    }
  }
  &__img-wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: 13px;
  }
  &__img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    font-weight: 800;
    @include adaptive-value("font-size", 20, 17, 1);
    line-height: 1.5;
    margin-bottom: 12px;
    max-width: 280px;
    transition: letter-spacing 0.3s;
  }
  &__text {
    line-height: 1.5;
    @include adaptive-value("font-size", 18, 16, 1);
    max-width: 280px;
    transition: background-color 0.3s;
  }
  &__pagination {
    position: absolute;
    bottom: 150px !important;
    left: 50%;
    display: flex;
    justify-content: center;
    margin: 0 -6px;
    opacity: 0;
    visibility: none;
  }
  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff7697;
    opacity: 0.2;
    margin: 0 6px;
    transition: opacity 0.2s;
    &--active {
      opacity: 1;
    }
  }
}

.comfort {
  background: url("../images/global/main-bg.jpg") center/cover no-repeat fixed;
  transition: background-position 0.8s;
  &__inner {
  }
  &__img-wrapper {
    @include adaptive-value("padding-top", 140, 110, 1);
    @include adaptive-value("margin-bottom", 60, 30, 1);
    text-align: center;
  }
  &__phone-img {
    transition: transform 0.5s;
    @include adaptive-value("width", 735, 320, 1);
  }
  &__text {
    padding-bottom: 138px;
  }
  &__par {
    @include adaptive-value("font-size", 20, 14, 1);
    line-height: 140%;
    text-align: center;
    color: #000;
    max-width: 676px;
    margin: 0 auto;
  }
}

.what {
  @include adaptive-value("padding-top", 100, 70, 1);
  background: url("../images/global/black-bg.jpg") center/cover no-repeat fixed;
  transition: background-position 0.8s;
  &__inner {
    padding-bottom: 135px;
  }
  &__title {
    margin-bottom: 42px;
  }
  &__text-wrapper {
    max-width: 520px;
    margin: 0 auto 42px;
    @include adaptive-value("font-size", 20, 16, 1);
    line-height: 150%;
    text-align: center;
    color: #fff;
  }
  &__par {
  }
  &__video-wrapper {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value("padding", 33, 10, 1);
    position: relative;
    border: 1px solid transparent;
    border-image: linear-gradient(252.42deg, #ff7697 0%, rgba(255, 118, 151, 0) 47.4%, #ff7697 100%);
    border-image-slice: 1;
  }
  &__video-video {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    transition: transform 0.4s;
  }
  &__video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.program {
  background: url("../images/global/main-bg.jpg") center/cover no-repeat fixed;
  transition: background-position 0.8s;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 484px;
    height: 383px;
    bottom: 0;
    right: -150px;
    transform: translateY(75%);
    background: url("../images/program/leave-1.png") center/contain no-repeat;
    z-index: 2;
    display: none;
  }
  &__inner {
    position: relative;
    @include adaptive-value("padding-top", 150, 100, 1);
    @include adaptive-value("padding-bottom", 190, 170, 1);
  }
  &__title {
    @include adaptive-value("margin-bottom", 90, 55, 1);
  }
}
.swiper-program {
  &__wrapper {
  }
  &__item {
    background: #fff;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    transition: transform 0.3s;
  }
  &__card {
  }
  &__top {
    border-bottom: 1px solid rgba(#ff7697, 0.5);
  }
  &__card-title {
    font-family: "Dela Gothic One", cursive;
    @include adaptive-value("font-size", 32, 24, 1);
    line-height: calc(46 / 32);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffabbf;
    margin-top: 23px;
    @include adaptive-value("margin-bottom", 28, 21, 1);
    transition: color 0.2s;
    &:hover {
      color: darken(#ffabbf, 10%);
    }
  }
  &__bottom {
    margin-top: 24px;
    @include adaptive-value("padding-left", 36, 24, 1);
    @include adaptive-value("padding-right", 36, 24, 1);
    @include adaptive-value("padding-bottom", 65, 40, 1);
  }
  &__bottom-text {
    @include adaptive-value("font-size", 18, 16, 1);
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    @include adaptive-value("padding-left", 20, 10, 1);
  }
  &__item-item {
    transition: color 0.2s;
    &:hover {
      color: #000;
    }
  }
  &__item-item + &__item-item {
    @include adaptive-value("margin-top", 18, 16, 1);
  }
  &__list {
  }
  &__pagination {
    position: absolute;
    bottom: 130px !important;
    left: 50%;
    display: flex;
    justify-content: center;
    margin: 0 -6px;
    opacity: 0;
    visibility: none;
  }
  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff7697;
    opacity: 0.2;
    margin: 0 6px;
    transition: opacity 0.2s;
    &--active {
      opacity: 1;
    }
  }
}

.how {
  background: url("../images/global/black-bg.jpg") center/cover no-repeat fixed;
  transition: background-position 0.8s;
  @include adaptive-value("padding-top", 122, 46, 1);
  @include adaptive-value("padding-bottom", 138, 130, 1);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 351px;
    height: 336px;
    left: -140px;
    bottom: 0;
    transform: translateY(50%) rotate(65deg) scale(-1, 1);
    background: url("../images/header/leave-2.png") center/contain no-repeat;
    z-index: 2;
    display: none;
  }
  &__inner {
  }
  &__title {
    margin-bottom: 41px;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin: -30px -15px 43px;
  }
  &__item {
    margin: 30px 15px;
    flex: 0 1 350px;
    flex-wrap: wrap;
    transition: transform 0.5s;
  }
  &__item-num {
    font-family: "Dela Gothic One", cursive;
    @include adaptive-value("font-size", 177, 96, 1);
    line-height: 120%;
    text-align: center;
    color: #ff7697;
    margin-bottom: 20px;
  }
  &__item-text {
    span,
    a {
      transition: color 0.3s;
    }
    span {
      color: #ff7697;
      font-weight: 800;
      &:hover {
        color: darken(#ff7697, 10%);
      }
    }
    a {
      color: #00b6ef;
      font-weight: 800;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        left: 0;
        bottom: 0px;
        background-color: #00b6ef;
        transition: width 0.3s, background-color 0.3s;
      }
      &:hover {
        color: darken(#00b6ef, 10%);
        &::before {
          width: 100%;
          background-color: darken(#00b6ef, 10%);
        }
      }
    }
  }
  &__link {
    font-weight: 300;
    @include adaptive-value("font-size", 20, 16, 1);
    line-height: calc(27 / 20);
    color: #ffffff;
  }
}

.questions-rates-wrapper {
  background: url("../images/global/main-bg.jpg") center/cover no-repeat fixed;
  transition: background-position 0.8s;
}
.questions {
  @include adaptive-value("padding-top", 150, 105, 1);
  @include adaptive-value("margin-bottom", 200, 130, 1);
  &__inner {
    max-width: 980px;
    margin: 0 auto;
  }
  &__title {
    @include adaptive-value("margin-bottom", 64, 40, 1);
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    font-size: 20px;
    line-height: 150%;
    color: #000;
    background: #fff;
    filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.03));
    width: 100%;
    border: 1px solid transparent;
    border-image: linear-gradient(252.42deg, #ff7697 0%, rgba(255, 118, 151, 0) 47.4%, #ff7697 100%);
    border-image-slice: 1;
  }
  &__item + &__item {
    margin-top: 20px;
  }
  &__head {
    position: relative;
    cursor: pointer;
    user-select: none;
    line-height: 1.5;
    @include adaptive-value("padding", 40, 20, 1);
    @include adaptive-value("padding-right", 80, 50, 1);
    transition: letter-spacing 0.4s;
    @include adaptive-value("font-size", 19, 12, 1);
    &::after {
      content: "";
      position: absolute;
      @include adaptive-value("right", 40, 20, 1);
      top: 50%;
      transform: translateY(-50%);
      @include adaptive-value("width", 18, 12, 1);
      @include adaptive-value("height", 18, 12, 1);
      background: url("../images/questions/plus.svg") center/contain no-repeat;
      transition: transform 0.5s;
    }

    &.active {
      &::after {
        transform: translateY(-50%) rotate(135deg);
      }
      &::before {
        width: calc(100% - 80px);
      }
    }
  }
  &__body {
    max-height: 0;
    overflow-y: hidden;
    padding: 0;
    @include adaptive-value("font-size", 17, 12, 1);
    line-height: 150%;
    color: #513939;
    transition: max-height 0.5s, padding 0.5s;
    @include adaptive-value("padding-right", 50, 20, 1);
    @include adaptive-value("padding-left", 40, 20, 1);
    a {
      position: relative;
      cursor: pointer;
      color: #ff7697;
      transition: color 0.15s;
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ff7697;
        transition: background-color 0.15s;
      }
      &:hover {
        color: darken(#ff7697, 10%);
        &::before {
          background-color: darken(#ff7697, 10%);
        }
      }
    }
  }
}

.rates {
  padding-bottom: 200px;
  &__inner {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__title {
    @include adaptive-value("margin-bottom", 100, 70, 1);
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -30px -10px;
  }
  &__item {
    margin: 30px 10px;
    position: relative;
    flex: 0 1 480px;
    background: url("../images/global/black-bg.jpg") center/cover no-repeat fixed;
    transition: background-position 0.8s;
    border-radius: 40px;
    color: #fff;
  }
  &__num {
    background: linear-gradient(135deg, #ff517b 0%, #ff7697 34.13%, #ff517b 100%);
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dela Gothic One", cursive;
    @include adaptive-value("font-size", 42, 24, 1);
    @include adaptive-value("line-height", 95, 55, 1);
    text-align: center;
    border-radius: 50%;
    color: #fff;
    @include adaptive-value("width", 103, 59, 1);
    @include adaptive-value("height", 103, 59, 1);
  }
  &__item-container {
    @include adaptive-value("padding-top", 90, 50, 1);
    @include adaptive-value("padding-bottom", 66, 30, 1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &__item-title {
    font-family: "Dela Gothic One", cursive;
    @include adaptive-value("font-size", 36, 20, 1);
    line-height: calc(52 / 36);
    text-align: center;
    @include adaptive-value("margin-bottom", 50, 25, 1);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      width: 0;
      height: 1px;
      background-color: rgba(#fff, 0.8);
      transition: width 0.4s;
    }
    &:hover {
      &::before {
        width: 50%;
      }
    }
  }
  &__item-list-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  &__item-list {
    list-style-type: disc;
    padding-left: 95px;
    padding-right: 64px;
    @include adaptive-value("padding-left", 95, 43, 1);
    @include adaptive-value("padding-right", 64, 26, 1);
    @include adaptive-value("font-size", 20, 14, 1);
    line-height: 170%;
    transition: transform 0.4s;
    &:first-of-type {
      flex: 1 0 auto;
    }
    &--mb {
      margin-bottom: 37px;
    }
  }
  &__item-item {
  }
  &__item-list--inactive {
    opacity: 0.3;
    @include adaptive-value("margin-bottom", 54, 24, 1);
  }
  &__prices-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inactive-price {
    font-family: "Dela Gothic One", cursive;
    @include adaptive-value("font-size", 28, 23, 1);
    line-height: calc(41 / 28);
    text-align: center;
    text-decoration-line: line-through;
    color: #fff;
    opacity: 0.3;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.2;
    }
  }
  &__active-price {
    font-family: "Dela Gothic One", cursive;
    @include adaptive-value("font-size", 44, 35, 1);
    line-height: calc(64 / 44);
    text-align: center;
    color: #ff7697;
    @include adaptive-value("margin-bottom", 33, 19, 1);
    transition: color 0.3s;
    &:hover {
      color: #ff527b;
    }
  }
  &__link-wrapper {
    text-align: center;
  }
  &__link {
    @include adaptive-value("font-size", 20, 16, 1);
    line-height: calc(27 / 20);
    background: linear-gradient(92.44deg, #ff7676 0%, #ff76f1 100%);
    backdrop-filter: blur(50px);
    border-radius: 85px;
    padding: 30px 102px;
    transition: transform 0.2s;
    &:hover {
      transform: scale(0.97);
    }
  }
  &__item-list--superactive {
    background: linear-gradient(92.44deg, #ff7676 0%, #ff76f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 54px;
  }
}

.wait {
  background: url("../images/global/black-bg.jpg") center/cover no-repeat fixed;
  transition: background-position 0.8s;
  @include adaptive-value("padding-top", 200, 120, 1);
  @include adaptive-value("padding-bottom", 90, 77, 1);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(40%, -50%);
    width: 600px;
    height: 581px;
    background: url("../images/footer/trava.png") center/contain no-repeat;
  }
  &__inner {
  }
  &__title {
    margin-bottom: 35px;
  }
  &__par {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 42px;
  }
  &__link-wrapper {
    text-align: center;
    @include adaptive-value("margin-bottom", 166, 120, 1);
  }
  &__link {
  }
  &__footer {
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 100px rgba(81, 57, 57, 0.05);
    max-width: 980px;
    margin: 0 auto;
  }
  &__footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include adaptive-value("padding", 50, 25, 1);
    background-color: #fff;
    border-radius: 30px;
  }
  &__link-img {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 0;
      background-color: rgba(#000, 0.5);
      transition: width 0.3s;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__img {
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__link-title {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 150%;
    color: #513939;
  }
  &__footer-link {
    font-size: 14px;
    line-height: 150%;
    color: rgba(81, 57, 57, 0.5);
    transition: color 0.3s;
    &:hover {
      color: rgba(81, 57, 57, 0.9);
    }
  }
  &__footer-link + &__footer-link {
    margin-top: 5px;
  }
}

// font-family: 'Dela Gothic One', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Manrope', sans-serif;

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: #ddd; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #bea6be; /* цвет плашки */
  &:hover {
    background-color: #b997b9;
  }
  &:active {
    background-color: #a573a5;
  }
  border: 1px solid #ddd; /* padding вокруг плашки */
}

html {
  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: #bea6be #ddd; /* плашка скролла и дорожка */
}

*::selection {
  background: rgba(#ffb7b7, 0.6); /* Safari */
}

@import "media";
