// Здесь находятся все медиазапросы, вынесены в отдельный файл для удобства
@media (min-width: 1400px) {
  .header {
    &::before,
    &::after {
      display: block;
    }
  }

  .program {
    &::before {
      display: block;
    }
  }
}

@media (max-width: 1150px) {
  .header {
    &__title-top {
      flex-direction: column;
      align-items: center;
      * {
        flex: 1 1 auto;
      }
    }

    &__text {
      order: -1;
      text-align: center;
      @include adaptive-value("margin-bottom", 30, 22, 1);
      @include adaptive-value("max-width", 600, 280, 1);
    }

    &__title-bottom {
      flex-direction: column;
      align-items: center;
      * {
        flex: 1 1 auto;
      }
    }

    &__inner {
      @include adaptive-value("padding-bottom", 450, 400, 1);
    }

    &__bottom-link {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -10%);
      z-index: 10;
      max-width: 280px;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }

    &__insta-block {
      @include adaptive-value("bottom", 130, 90, 1);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .woman {
    left: 55%;
    @include adaptive-value("bottom", -400, -70, 1);
  }
}

@media (min-width: 1150px) {
  .main-btn {
    &:hover {
      transform: rotate(3deg);
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

@media (max-width: 1030px) {
  .rates {
    &__item-list + &__item-list {
      @include adaptive-value("margin-top", 37, 8, 1);
    }
    &__item-list--mb {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1000px) {
  .swiper-who__pagination {
    opacity: 1;
    visibility: visible;
  }

  .swiper-program__pagination {
    opacity: 1;
    visibility: visible;
  }

  .swiper-program {
    &__item {
      box-shadow: none;
    }
  }

  .who {
    &__list {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 970px) {
  .wait {
    &::before {
      width: 223px;
      height: 216px;
      top: 0;
    }
  }
}

@media (min-width: 900px) {
  .about {
    &::before {
      display: block;
    }
  }
  .who {
    &::before,
    &::after {
      display: block;
    }
  }
  .how {
    &::before {
      display: block;
    }
  }
}

@media (min-width: 720px) {
  .header {
    &__text {
      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 0;
        background-color: rgba(#fff, 0.6);
        transition: width 0.4s;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  .main-title {
    &:hover {
      transform: scale(1.05);
    }
  }

  .comfort {
    &__phone-img {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .what {
    &__video-video {
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .swiper-program {
    &__item {
      &:hover {
        transform: scale(0.95);
      }
    }
  }

  .how {
    &__item {
      &:hover {
        transform: scale(1.07);
      }
    }
  }

  .questions {
    &__head {
      &:hover {
        letter-spacing: 0.8px;
      }
    }
  }

  .rates {
    &__item-list {
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}

@media (max-width: 600px) {
  .wait {
    &__footer-wrapper {
      flex-direction: column;
      justify-content: center;
    }
    &__link-img {
      margin-bottom: 18px;
    }
    &__links {
      align-items: center;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .main-link {
    &__link {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      text-align: center;
    }
  }

  .rates {
    &__link-wrapper {
      margin: 0 30px;
    }

    &__link {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .wait {
    &__link {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
}